.header{
    border: 1.06 solid #CEDCEE; 
    width: 100%;
    height: 68px;

}
.rec{
    
    border-right: 1px solid #CEDCEE;
    width: 19%;
    height: 68px;
    
}

.img1{
    width: 1.5rem;
    height: 2.249rem;
    padding-left: 2.9282576866764276vw;
    padding-top: 1.1rem;
}