.footer{
    display: flex;
    justify-content: center;
    background-color: #E1E4E9;
    width: 100%;
    padding: 0.6rem 0;
    color: #838EAB;
}

.footer span{
    color: #3A8AFA;
    
}

@media only screen and (min-width: 641px) and (max-width:1023px){
    .footer{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 321px) and (max-width:640px){
    .footer{
        font-size: 0.5rem;
    }
}