.preview{
    display: flex;
    flex-direction: row;
    width: 95%;
    background-color: white;
    margin: auto;
    border: 1px solid #D3D3D3;
    margin-bottom: 8%;
    
}

.bd{
    background-color: #F3F5F9;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 7%;
   
    color: #27292F;
}

.titl{
    margin-left: 3%;
    font-size: 1.5rem;
    font-weight: 550;
    padding-bottom: 2%;
}

.col1 , .col2, .col3 {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.col2, .col3{
    border-left: 1px solid #D3D3D3;
}

.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-top: 1px solid #D3D3D3;
    color: #2162AC;
}

.hdr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3rem;
    font-size: 1.2rem;
    font-weight: 550;
}

.searchcont{
    width: 90%;
    margin: auto;
    text-align: center;
    height: 3rem;
}

.searchcont input{
    height: 1.8rem;
    border: 1px solid #D3D3D3;
    
    
}
.searchcont button{
    height: 1.95rem;
    width: 9vw;
    
    border: 1px solid #D3D3D3;
   
}

@media only screen and (min-width: 321px) and (max-width:640px){

    .titl{
        font-size: 1rem;

    }

    .hdr{
        font-size: 0.8rem;
    }
    .rows{
        font-size: 0.7rem;
    }

    .searchcont{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    }
    .searchcont button{
        width: 15%;
    }
}

#xbutton{
    margin-left: 1%;
    width: 3%;
    height: 60%;

}

.postformcont{
   
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 1px solid black;
    
    
}

#headp{
    font-size: 1.3rem;
    padding-left: 0%;
    padding-bottom: 3%;
    font-weight: 700;
    color: #27292F;
    display: flex;
    justify-content: center;
}

.postformcont p{
    padding-left: 30%;
    padding-bottom: 0.5%;
    padding-top: 3%;
    font-size: 1rem;
    color: #2162AC;
    display: flex;
    justify-content: flex-start;
}

.postformcont input{
    width: 40%;
    height: 1.3rem;
}



.btndiv{
    display: flex;
    padding-top: 3%;
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 3rem;

}

.btndiv button{
    height: 60%;
    width: 60%;
}

#commentField{
    height: 4rem;
    width: 40%;
}