
<div class="bd">
  <div class="searchcont">
    <input type="text" placeholder="Enter vender code" [(ngModel)]="search">
    <button type="button">Search</button>
  </div>
  <div class="titl">
    <p>Table of contents</p>
  </div>
<div class="preview">
  
  <div class="col1">
    <div class="hdr">Vender Code</div>
    <div class="rows" *ngFor="let x of vendorCodes" (click)="navigateto(x)">
      {{x}}
    </div>
  </div>
  <div class="col2">
    <div class="hdr">Person Name</div>
    <div class="rows" *ngFor="let x of pkgPersonNames">
      {{x}}
    </div>
  </div>
  <div class="col3">
    <div class="hdr">Company Name</div>
    <div class="rows" *ngFor="let x of companyNames">
      {{x}}
    </div>
  </div>
</div>
</div>
